In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Bus_data_with_timeStamp_and_address.csv", low_memory = False)
df2 = pd.read_csv("Weather_data_with_timeStamp_converted.csv", low_memory = False)

In [3]:
df.head()

,TimeStamp,LineId,Direction,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop,Address
0,2012-11-06 00:00:00,15,0,00150001,2012-11-05,5826,RD,0,-6.258584,53.340099,-361,15013,33210,4870,0,St. Colmcille's Way
1,2012-11-06 00:00:00,46,0,046A1002,2012-11-05,7267,D2,0,-6.259093,53.345425,-1101,46004,36024,794,0,Stop missing
2,2012-11-06 00:00:00,14,0,00140001,2012-11-05,6206,D2,0,-6.257329,53.287521,-126,14003,33325,1047,0,Beaumont Avenue
3,2012-11-06 00:00:02,41,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,Rolestown
4,2012-11-06 00:00:02,63,0,null,2012-11-05,1116,D2,0,-6.171050,53.259201,292,63003,33137,3283,0,Enniskerry Rd

In [4]:
df2.head()

               date  ind rain  ind.1 temp  ind.2 wetb dewpt vappr rhum     msl
0  2012-11-06 00:00    0    0      0  2.6      0  2.2   1.7   6.9   94  1020.7
1  2012-11-06 01:00    0    0      0  2.8      0  2.5     2     7   94  1021.1
2  2012-11-06 02:00    0    0      0  3.4      0    3   2.6   7.4   94  1020.8
3  2012-11-06 03:00    0    0      0  4.6      0  4.1   3.4   7.8   92  1020.7
4  2012-11-06 04:00    0    0      0  4.9      0  4.3   3.5   7.9   90  1020.6

In [5]:
# Convert columns to datetime in bus data
df['TimeStamp'] =  pd.to_datetime(df['TimeStamp'], format='%Y-%m-%d %H:%M:%S')

# Convert columns to datetime in weather
df2['date'] =  pd.to_datetime(df2['date'], format='%Y-%m-%d %H:%M')

In [6]:
# Make lists for the temperature and rainfall
temp = list()
rain = list()

In [7]:
# count = 0

# Stop before getting to tomorrow
stop = pd.Timestamp('2012-11-07 00:00:00', tz=None)

# First iterate through weather data
for item2, row2 in df2.iterrows():
    weather_time = row2[0]
    
    if row2[0] >= stop:
        break
    
#     count += 1
#     if count > 2:
#         break
    
    for item, row in df.iterrows():
        
        # If the bus time is greater than the weather and less that the weather + 1 hour
        if row[0] >= row2[0] and row[0] < row2[0] + pd.DateOffset(hours=1):
            temp.append(row2[4])
            rain.append(row2[2])
        if row[0] >= row2[0] + pd.DateOffset(hours=1):
            break

In [8]:
len(temp)

1765912

In [9]:
len(rain)

1765912

In [10]:
df.shape

(1765912, 16)

## Add Lists to Dataframe

In [11]:
df['Temp'] = temp

In [12]:
df['Rain'] = rain

In [13]:
df.to_csv("FinalNov6th_Inc_Addresses_Weather.csv", index=False)

In [17]:
df = pd.read_csv("FinalNov6th_Inc_Addresses_Weather.csv", low_memory = False)

In [18]:
df.head()

,TimeStamp,LineId,Direction,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop,Address,Temp,Rain
0,2012-11-06 00:00:00,15,0,00150001,2012-11-05,5826,RD,0,-6.258584,53.340099,-361,15013,33210,4870,0,St. Colmcille's Way,2.6,0.0
1,2012-11-06 00:00:00,46,0,046A1002,2012-11-05,7267,D2,0,-6.259093,53.345425,-1101,46004,36024,794,0,Stop missing,2.6,0.0
2,2012-11-06 00:00:00,14,0,00140001,2012-11-05,6206,D2,0,-6.257329,53.287521,-126,14003,33325,1047,0,Beaumont Avenue,2.6,0.0
3,2012-11-06 00:00:02,41,0,041B0002,2012-11-05,61,SL,0,-6.264167,53.453217,-623,41008,33631,3874,1,Rolestown,2.6,0.0
4,2012-11-06 00:00:02,63,0,null,2012-11-05,1116,D2,0,-6.171050,53.259201,292,63003,33137,3283,0,Enniskerry Rd,2.6,0.0