In [54]:
import pandas as pd
import numpy as np
import datetime
from ipykernel import kernelapp as app
from darksky import forecast

In [55]:
df = pd.read_csv('8_to_10_nov_superClean.csv', low_memory=False)

In [56]:
df.isnull().sum()

Timestamp           0
LineId              0
JourneyPatternId    0
TimeFrame           0
VehicleJourneyId    0
BusOperator         0
Congestion          0
Long                0
Lat                 0
Delay               0
BlockId             0
VehicleId           0
StopId              0
AtStop              0
Distance            0
TravelTime          0
Weekday             0
TimeCategory        0
dtype: int64

In [57]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop,Distance,TravelTime,Weekday,TimeCategory
0,2012-11-08 07:50:33,15,015B1001,2012-11-08,3277,RD,0,-6.326270,53.271095,28,15014,24549,6285,1.0,0.000000,0,3,07:30
1,2012-11-08 07:52:30,15,015B1001,2012-11-08,3277,RD,0,-6.316295,53.273449,68,15014,24549,6287,1.0,715.627283,117,3,07:30
2,2012-11-08 07:54:31,15,015B1001,2012-11-08,3277,RD,0,-6.303704,53.274460,83,15014,24549,6298,1.0,1619.357091,238,3,07:30
3,2012-11-08 07:56:52,15,015B1001,2012-11-08,3277,RD,0,-6.306540,53.279404,83,15014,24549,7069,1.0,2636.961031,379,3,07:30
4,2012-11-08 07:58:10,15,015B1001,2012-11-08,3277,RD,0,-6.306903,53.281425,100,15014,24549,7443,1.0,2982.175941,457,3,07:30

In [58]:
# Read in weather data
#weather data file contains only relevant dates and first row containing the column names deleted

COLNAMES2 = ['Time_hour','Ind', 'Rain', 'Ind1', 'Temp', 'Ind2', 'Wetb', 'Dewpt', 'Vappr', 'Rhum', 'Msl']
df2 = pd.read_csv("weatherData.csv", names=COLNAMES2)

In [59]:
column_names = ['Time_hour', 'Rain', 'Temp']
df2 = df2[column_names]

In [60]:
for index, row in df2.iterrows():
    # Change each date to standard format year-month-day
    x = datetime.datetime.strptime(row[0], '%d/%m/%Y %H:%M').strftime('%Y-%m-%d %H')
    df2.set_value(index, 'Time_hour', x)

In [61]:
df2.Time_hour =  pd.to_datetime(df2.Time_hour)

In [62]:
df2 = df2.replace(r'\s+', np.nan, regex=True)
df2.Rain = df2.Rain.astype(float)
df2.Temp = df2.Temp.astype(float)

In [63]:
df['Time_hour'] = df['Timestamp'].values.astype('<M8[h]')

In [64]:
df2.head()

            Time_hour  Rain  Temp
0 2012-11-06 00:00:00   0.0   2.6
1 2012-11-06 01:00:00   0.0   2.8
2 2012-11-06 02:00:00   0.0   3.4
3 2012-11-06 03:00:00   0.0   4.6
4 2012-11-06 04:00:00   0.0   4.9

In [65]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop,Distance,TravelTime,Weekday,TimeCategory,Time_hour
0,2012-11-08 07:50:33,15,015B1001,2012-11-08,3277,RD,0,-6.326270,53.271095,28,15014,24549,6285,1.0,0.000000,0,3,07:30,2012-11-08 07:00:00
1,2012-11-08 07:52:30,15,015B1001,2012-11-08,3277,RD,0,-6.316295,53.273449,68,15014,24549,6287,1.0,715.627283,117,3,07:30,2012-11-08 07:00:00
2,2012-11-08 07:54:31,15,015B1001,2012-11-08,3277,RD,0,-6.303704,53.274460,83,15014,24549,6298,1.0,1619.357091,238,3,07:30,2012-11-08 07:00:00
3,2012-11-08 07:56:52,15,015B1001,2012-11-08,3277,RD,0,-6.306540,53.279404,83,15014,24549,7069,1.0,2636.961031,379,3,07:30,2012-11-08 07:00:00
4,2012-11-08 07:58:10,15,015B1001,2012-11-08,3277,RD,0,-6.306903,53.281425,100,15014,24549,7443,1.0,2982.175941,457,3,07:30,2012-11-08 07:00:00

In [66]:
len(df)

350402

In [67]:
len(df2)

2076

In [68]:
df2["windSpeed"] = np.nan

In [69]:
df2["Timestamp"] = pd.to_datetime(df2["Time_hour"]).astype('int64')// 10**9

In [74]:
df2.head()

            Time_hour  Rain  Temp  windSpeed   Timestamp
0 2012-11-06 00:00:00   0.0   2.6        NaN  1352160000
1 2012-11-06 01:00:00   0.0   2.8        NaN  1352163600
2 2012-11-06 02:00:00   0.0   3.4        NaN  1352167200
3 2012-11-06 03:00:00   0.0   4.6        NaN  1352170800
4 2012-11-06 04:00:00   0.0   4.9        NaN  1352174400

In [77]:
"""
Put your own api key from darksky when running this loop and remember after 1000 per day they charge you so be careful!
darksky has a dashboard that shows you how many api calls you made
"""
count = 0
dublin = forecast('115860eba8f194a9d04b751787f6a2b8',53.349323, -6.260750, time = df2.iloc[0]['Timestamp'], units = 'si')

for item,row in df2.iterrows():
    
    df2.set_value(item, 'windSpeed', dublin.hourly[count].windSpeed)
    count += 1
    
    if count > 23:
        
        #reset count
        count = 0
        #this gets 24 hour of data, divided in one hour block, we only need one api call for every day
        dublin = forecast('115860eba8f194a9d04b751787f6a2b8',53.349323, -6.260750, time = row[4], units = 'si')

In [79]:
df2.tail()

               Time_hour  Rain  Temp  windSpeed   Timestamp
2071 2013-01-31 07:00:00   0.2   5.5       8.70  1359615600
2072 2013-01-31 08:00:00   0.3   4.4       8.91  1359619200
2073 2013-01-31 09:00:00   0.0   5.4      10.38  1359622800
2074 2013-01-31 10:00:00   0.0   6.1      13.22  1359626400
2075 2013-01-31 11:00:00   0.0   7.4      14.84  1359630000

In [80]:
len(df2)

2076

In [81]:
df3 = pd.merge(df,df2, how='inner', on='Time_hour')

In [82]:
len(df3)

350402

In [83]:
len(df)

350402

In [84]:
df3.to_csv('sprint2_cleaned.csv', index=False)

In [5]:
df = pd.read_csv("sprint2_cleaned.csv", low_memory=False)

In [10]:
df2 = df.groupby(['TimeFrame', 'VehicleId','VehicleJourneyId']).filter(lambda x: len(x) > 1)

In [18]:
x = df2[df2.VehicleJourneyId == 18]

In [11]:
len(df)

392877

In [12]:
len(df2)

390444