# Combine CSV Files Into One Cleaned DataFrame

In [1]:
import pandas as pd
import datetime
from geopy.distance import vincenty

In [2]:
""" Loop though 3 CSV Files In January (Thursday-08, Friday-09, Saturday-10) and Add Together Into One File """

# Make main df with first file
df = pd.read_csv("siri.20121108.csv", header = None, low_memory = False)
df.columns = ["Timestamp", "LineId", "Direction", "JourneyPatternId", "TimeFrame", "VehicleJourneyId", "BusOperator", "Congestion", "Long", "Lat", "Delay", "BlockId", "VehicleId", "StopId", "AtStop"]

for i in range(9, 11):
    
    if i < 10:
        i = "0" + str(i)
    
    # Next file to add
    file = "siri.201211" + str(i) + ".csv"

    # Make DataFrame to add to main df
    df_to_add = pd.read_csv(file, header = None, low_memory = False)
    df_to_add.columns = ["Timestamp", "LineId", "Direction", "JourneyPatternId", "TimeFrame", "VehicleJourneyId", "BusOperator", "Congestion", "Long", "Lat", "Delay", "BlockId", "VehicleId", "StopId", "AtStop"]

    # Combine DataFrames
    df = df.append(df_to_add ,ignore_index = True)

In [3]:
df.shape

(4766421, 15)

In [4]:
df.head()

,Timestamp,LineId,Direction,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop
0,1352332801000000,39,0,00390002,2012-11-07,3810,PO,0,-6.398326,53.393314,-296,39025,36049,4362,0
1,1352332801000000,27,0,00270001,2012-11-07,4958,RD,0,-6.393233,53.284412,-879,27014,33230,2622,0
2,1352332801000000,27,0,077A1001,2012-11-07,4993,RD,0,-6.246746,53.344143,-510,27023,33319,350,0
3,1352332801000000,76,0,00760001,2012-11-07,4553,CD,0,-6.361800,53.311016,-263,76001,33352,4341,1
4,1352332801000000,13,0,00131005,2012-11-07,4175,CD,0,-6.279008,53.342808,-156,13003,38063,1998,0

In [5]:
# Constant Column
del df["Direction"]

In [6]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [7]:
df.to_csv("raw_data.csv", index=False)

## Clean Up Some Aspects of the Dataframe

In [13]:
""" Before each bus begins its journey it may not have a JourneyPatternId and records literal 'null' values instead
of actual data. These rows refer to instances where the bus is idle and hasn't moved anywhere, therefore they can 
confidently be deleted. """

# Filter out null values
df = df[df.JourneyPatternId != 'null']

In [14]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [15]:
# Check deletion worked
df.shape

(4058710, 14)

In [11]:
# Drop any duplicated rows
df = df.drop_duplicates()

In [12]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [13]:
df.shape

(4058710, 14)

In [16]:
df.to_csv("first_stage.csv", index=False)

In [17]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop
0,1352332811000000,16,00160001,2012-11-07,5591,SL,0,-6.267933,53.356716,-624,16013,24559,2975,1
1,1352332831000000,16,00160001,2012-11-07,5591,SL,0,-6.265700,53.356167,-624,16013,24559,2975,1
2,1352332852000000,16,00160001,2012-11-07,5591,SL,0,-6.265717,53.356152,-624,16013,24559,2975,1
3,1352332874000000,16,00160001,2012-11-07,5591,SL,0,-6.265666,53.356232,-624,16013,24559,2975,1
4,1352332892000000,16,00160001,2012-11-07,5591,SL,0,-6.265200,53.356033,-624,16013,24559,2975,1

In [14]:
""" When a bus driver starts their journey the GPS sends out loads of information before the bus even starts moving.
The cell will delete all information before the bus driver leaves their initial position. It is important to filter by GPS 
specifically."""

df = df.drop_duplicates(["TimeFrame", "VehicleJourneyId", "Long", "Lat"], keep='last')

In [15]:
""" Data from the 7th is not reliable, since some journey's continued from the previous day, we must remove it. """

df = df[df.TimeFrame != '2012-11-07']

In [16]:
# Check deletion worked
df.shape

(3151013, 14)

In [17]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [18]:
df.to_csv("second_stage.csv", index=False)

In [20]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop
0,1352391493000000,331,033A1002,2012-11-08,1,SL,0,-6.129196,53.579613,43,33001,43051,3816,0
1,1352391513000000,331,033A1002,2012-11-08,1,SL,0,-6.126715,53.578770,43,33001,43051,3816,0
2,1352391536000000,331,033A1002,2012-11-08,1,SL,0,-6.123891,53.577511,63,33001,43051,3566,0
3,1352391554000000,331,033A1002,2012-11-08,1,SL,0,-6.120842,53.576439,63,33001,43051,3566,0
4,1352391573000000,331,033A1002,2012-11-08,1,SL,0,-6.117958,53.575871,82,33001,43051,3567,0

In [21]:
df.shape

(3151013, 14)

In [22]:
""" Some journeys do not register initial stop, we change atStop == 1 when this happens
for the first TimeStamp in each VehicleJourneyId. """

for item, row in df.iterrows():
    
    if item == 0:
        lastid = row[4]
        df.set_value(item, 'AtStop', 1)
        continue
        
    currentid = row[4]
    
    if currentid != lastid:
        df.set_value(item, 'AtStop', 1)
        lastid = currentid

In [23]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [25]:
df.shape

(3151013, 14)

In [26]:
df.to_csv("third_stage.csv", index=False)

In [27]:
""" When the bus moves at the start, if it is staying at it's stop then clear up the data until it leaves the stop. """

for item, row in df.iterrows():
    
    # For the first iteration
    if item == 0:
        last_bus_id = row[4]
        last_at_stop = row[13]
        new_start = True
    
    # For every iteration
    current_bus_id = row[4]
    current_at_stop = row[13]
    
    # If it's left the terminal
    if current_at_stop == 0:
        new_start = False
    
    # If it's staying in the terminal
    if current_at_stop == 1 and last_at_stop == 1:
        if new_start:
            df.set_value(item - 1, "VehicleJourneyId", 0)
            
    # If it's a new bus
    if current_bus_id != last_bus_id:
        new_start = True
        last_bus_id = row[4]
        last_at_stop = row[13]

In [28]:
# Filter Out Rows
df = df[df.VehicleJourneyId != 0]

In [29]:
# Check
df.shape

(3131087, 14)

In [30]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [32]:
df.to_csv("fourth_stage.csv", index=False)

In [33]:
""" Many VehicleJourneyId's have only one row, therefore they tell us nothing useful. These rows can confidently be deleted. """

""" Note: I'm not sure this is necessary? Or maybe it just doesn't work? """

count = 0

for item, row in df.iterrows():
    
    if item == 0:
        last = row[4]
        count += 1
        continue
            
    current = row[4]
    
    if current == last:
        last = current
        count += 1
        continue
        
    if current != last:
        if count == 1:
            # This is a placeholder to delete after (this is the fastest way to delete the rows)
            df.set_value(item - 1, "VehicleJourneyId", 0)
        count = 1
        last = current

In [34]:
# Filter Out Rows
df = df[df.VehicleJourneyId != 0]

In [35]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [36]:
df.shape

(3131087, 14)

In [40]:
# Check that the last entry isn't a unique Vehicle Journey ID because the previous loop will have missed it
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop
0,1.352391e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.129196,53.579613,43.0,33001.0,43051.0,3816,1.0
1,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.126715,53.578770,43.0,33001.0,43051.0,3816,0.0
2,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.123891,53.577511,63.0,33001.0,43051.0,3566,0.0
3,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.120842,53.576439,63.0,33001.0,43051.0,3566,0.0
4,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.117958,53.575871,82.0,33001.0,43051.0,3567,0.0

In [41]:
df.to_csv("fifth_stage.csv", index=False)

## Add Distance Feature

Before removing all information in the CSV where the feature AtStop == 0 we must first measure the distance on each route. This requires that we use all rows of data. 

In order to cut down the time of this loop (which will be costly) first delete all rows which have a literal 'null' value for JourneyPatternId, clean up the noise before each bus journey and finally remove all unique values for VehicleJourneyId. This will significantly reduce the size of the dataframe and the subsequent loop below.

In [42]:
def get_distance(lat1, long1, lat2, long2):
    """ Get distance between two geo coordinates """
    
    stop1 = (lat1, long1)
    stop2 = (lat2, long2)
    
    return vincenty(stop1, stop2).meters

In [43]:
# List to hold feature
distance = list()

for item, row in df.iterrows():
    
    # Set up values on first iteration
    if item == 0:
        last_lat = row[8]
        last_long = row[7]
        last_id = row[4]
        last_distance = 0
        
        distance.append(0)
        continue
    
    current_id = row[4]
    current_lat = row[8]
    current_long = row[7]
    current_distance = get_distance(current_lat, current_long, last_lat, last_long)
    
    # If it's a new Journey ID
    if current_id != last_id:
        last_id = row[4]
        last_lat = row[8]
        last_long = row[7]
        last_distance = 0
        
        distance.append(0)
        continue
     
    # If it's not a new Journey ID
    current_distance = get_distance(current_lat, current_long, last_lat, last_long)
    distance.append(last_distance + current_distance)
    
    last_distance = distance[-1]
    last_lat = row[8]
    last_long = row[7]
    last_id = row[4]

In [44]:
df["Distance"] = distance

In [48]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,AtStop,Distance
0,1.352391e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.129196,53.579613,43.0,33001.0,43051.0,3816,1.0,0.000000
1,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.126715,53.578770,43.0,33001.0,43051.0,3816,0.0,189.227778
2,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.123891,53.577511,63.0,33001.0,43051.0,3566,0.0,422.944242
3,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.120842,53.576439,63.0,33001.0,43051.0,3566,0.0,657.515516
4,1.352392e+15,331,033A1002,2012-11-08,1.0,SL,0.0,-6.117958,53.575871,82.0,33001.0,43051.0,3567,0.0,858.739919

In [49]:
df.to_csv("sixth_stage.csv", index=False)

In [56]:
df = pd.read_csv("sixth_stage.csv", low_memory=False)

## Change Unix Timestamp to Human Readable Format

In [60]:
# Change date in bus file to be in standard format instead of unix milliseconds (1:45 mins)
for index, row in df.iterrows():

    x = row[0]/1000000
    df.set_value(index, 'Timestamp', x)

In [62]:
# For formatting later
df['Timestamp'] = df['Timestamp'].apply(str)

In [64]:
# Change format of date 
for index, row in df.iterrows():

    ts = int(row[0])
    x = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
    df.set_value(index, 'Timestamp', str(x))

In [65]:
# Change Features To Correct Types
df['Timestamp'] =  pd.to_datetime(df['Timestamp'], format='%Y-%m-%d %H:%M:%S')
df["LineId"] = df["LineId"].astype("category")
df["JourneyPatternId"] = df["JourneyPatternId"].astype("category")
df["TimeFrame"] = df["TimeFrame"].astype("category")
df["VehicleJourneyId"] = df["VehicleJourneyId"].astype("category")
df["Congestion"] = df["Congestion"].astype("category")
df["BlockId"] = df["BlockId"].astype("category")
df["StopId"] = df["StopId"].astype("category")
df["BusOperator"] = df["BusOperator"].astype("category")
df["VehicleId"] = df["VehicleId"].astype("category")

In [66]:
df.dtypes

Timestamp           datetime64[ns]
LineId                    category
JourneyPatternId          category
TimeFrame                 category
VehicleJourneyId          category
BusOperator               category
Congestion                category
Long                       float64
Lat                        float64
Delay                      float64
BlockId                   category
VehicleId                 category
StopId                    category
AtStop                     float64
Distance                   float64
dtype: object

In [67]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

In [68]:
# Clean up index
df = df.reset_index()
del df['index']

In [69]:
df.shape

(3131087, 15)

In [70]:
df.to_csv("seventh_stage.csv", index=False)

## Remove AtStop == 0 & Drop Duplicates

In [71]:
# Now it is safe to filter the dataframe down to when buses are at stops
df = df[df.AtStop == 1]

In [72]:
# No Longer Useful, it is now a constant column
del df["AtStop"]

In [73]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [74]:
""" If the NULL values in Journey Pattern ID have been addressed and the extra information at the start of each
Vehicle Journey ID have been deleted, then this cell may be run without loss of valuable data 

It will delete all duplicates AFTER the first example of each is found. """

df = df.drop_duplicates(["TimeFrame", "VehicleJourneyId", "StopId"])

In [75]:
# Organise the Data
df = df.sort_values(['TimeFrame', 'VehicleJourneyId', 'Timestamp'], ascending=True)

# Clean up index
df = df.reset_index()
del df['index']

In [76]:
# Check size of dataframe
df.shape

(392976, 14)

In [77]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,Distance
0,2012-11-08 16:18:13,331,033A1002,2012-11-08,1.0,SL,0.0,-6.129196,53.579613,43.0,33001.0,43051.0,3816,0.000000
1,2012-11-08 16:21:34,331,033A1002,2012-11-08,1.0,SL,0.0,-6.110108,53.579807,164.0,33001.0,43051.0,3818,1651.209589
2,2012-11-08 16:24:14,331,033A1002,2012-11-08,1.0,SL,0.0,-6.106793,53.580036,309.0,33001.0,43051.0,3819,1969.281027
3,2012-11-08 16:33:52,331,033A1002,2012-11-08,1.0,SL,0.0,-6.090593,53.533672,623.0,33001.0,43051.0,3833,7472.199689
4,2012-11-08 16:34:33,331,033A1002,2012-11-08,1.0,SL,0.0,-6.091514,53.530941,648.0,33001.0,43051.0,3834,7783.316730

## Add Time Taken Feature

In [90]:
# List to hold features
travel_time = list()

for item, row in df.iterrows():
    
    # Set up values on first iteration
    if item == 0:
        last_id = row[4]
        start_time = row[0]
        travel_time.append(0.0)
        continue
    
    current_time = row[0]
    current_id = row[4]
    
    # If it's a new Journey ID
    if current_id != last_id:
        last_id = row[4]        
        start_time = row[0]        
        travel_time.append(0.0)
        continue
        
    travel_time.append(abs((current_time - start_time).total_seconds()))    
    last_time = row[0]
    last_id = row[4]

In [92]:
df["TravelTime"] = travel_time

In [95]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,Distance,TravelTime
0,2012-11-08 16:18:13,331,033A1002,2012-11-08,1.0,SL,0.0,-6.129196,53.579613,43.0,33001.0,43051.0,3816,0.000000,0.0
1,2012-11-08 16:21:34,331,033A1002,2012-11-08,1.0,SL,0.0,-6.110108,53.579807,164.0,33001.0,43051.0,3818,1651.209589,201.0
2,2012-11-08 16:24:14,331,033A1002,2012-11-08,1.0,SL,0.0,-6.106793,53.580036,309.0,33001.0,43051.0,3819,1969.281027,361.0
3,2012-11-08 16:33:52,331,033A1002,2012-11-08,1.0,SL,0.0,-6.090593,53.533672,623.0,33001.0,43051.0,3833,7472.199689,939.0
4,2012-11-08 16:34:33,331,033A1002,2012-11-08,1.0,SL,0.0,-6.091514,53.530941,648.0,33001.0,43051.0,3834,7783.316730,980.0

In [96]:
df.to_csv("eight_stage.csv", index=False)

## Add Weekday Feature

In [97]:
df['Weekday'] = df['Timestamp'].dt.dayofweek

In [98]:
# Convert to correct datatype
df["Weekday"] = df["Weekday"].astype("category")

## Add Time Category

In [101]:
# Convert to temp datatype
df["Timestamp"] = df["Timestamp"].astype(str)

In [107]:
time_cat = list()

for item, row in df.iterrows():
    
    s = row[0][-8:]
    temp = s.split(":")

    if int(temp[1]) < 30:
        mins = "00"
    else:
        mins = "30"

    ans = temp[0] + ":" + mins
    
    time_cat.append(ans)

In [108]:
df["TimeCategory"] = time_cat

In [109]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,Distance,TravelTime,Weekday,TimeCategory
0,2012-11-08 16:18:13,331,033A1002,2012-11-08,1.0,SL,0.0,-6.129196,53.579613,43.0,33001.0,43051.0,3816,0.000000,0.0,3,16:00
1,2012-11-08 16:21:34,331,033A1002,2012-11-08,1.0,SL,0.0,-6.110108,53.579807,164.0,33001.0,43051.0,3818,1651.209589,201.0,3,16:00
2,2012-11-08 16:24:14,331,033A1002,2012-11-08,1.0,SL,0.0,-6.106793,53.580036,309.0,33001.0,43051.0,3819,1969.281027,361.0,3,16:00
3,2012-11-08 16:33:52,331,033A1002,2012-11-08,1.0,SL,0.0,-6.090593,53.533672,623.0,33001.0,43051.0,3833,7472.199689,939.0,3,16:30
4,2012-11-08 16:34:33,331,033A1002,2012-11-08,1.0,SL,0.0,-6.091514,53.530941,648.0,33001.0,43051.0,3834,7783.316730,980.0,3,16:30

## Make Final Changes To Datatypes

In [111]:
df.dtypes

Timestamp             object
LineId              category
JourneyPatternId    category
TimeFrame           category
VehicleJourneyId    category
BusOperator         category
Congestion          category
Long                 float64
Lat                  float64
Delay                float64
BlockId             category
VehicleId           category
StopId              category
Distance             float64
TravelTime           float64
Weekday             category
TimeCategory          object
dtype: object

In [112]:
df["VehicleJourneyId"] = df["VehicleJourneyId"].astype(int)
df["Congestion"] = df["Congestion"].astype(int)
df["BlockId"] = df["BlockId"].astype(int)
df["VehicleId"] = df["VehicleId"].astype(int)
df["Delay"] = df["Delay"].astype(int)
df["TravelTime"] = df["TravelTime"].astype(int)

In [119]:
df["VehicleJourneyId"] = df["VehicleJourneyId"].astype('category')
df["Congestion"] = df["Congestion"].astype('category')
df["BlockId"] = df["BlockId"].astype('category')
df["VehicleId"] = df["VehicleId"].astype('category')
df["TimeCategory"] = df["TimeCategory"].astype('category')
df['Timestamp'] =  pd.to_datetime(df['Timestamp'], format='%Y-%m-%d %H:%M:%S')

In [120]:
df.dtypes

Timestamp           datetime64[ns]
LineId                    category
JourneyPatternId          category
TimeFrame                 category
VehicleJourneyId          category
BusOperator               category
Congestion                category
Long                       float64
Lat                        float64
Delay                        int32
BlockId                   category
VehicleId                 category
StopId                    category
Distance                   float64
TravelTime                   int32
Weekday                   category
TimeCategory              category
dtype: object

In [121]:
df.head()

,Timestamp,LineId,JourneyPatternId,TimeFrame,VehicleJourneyId,BusOperator,Congestion,Long,Lat,Delay,BlockId,VehicleId,StopId,Distance,TravelTime,Weekday,TimeCategory
0,2012-11-08 16:18:13,331,033A1002,2012-11-08,1,SL,0,-6.129196,53.579613,43,33001,43051,3816,0.000000,0,3,16:00
1,2012-11-08 16:21:34,331,033A1002,2012-11-08,1,SL,0,-6.110108,53.579807,164,33001,43051,3818,1651.209589,201,3,16:00
2,2012-11-08 16:24:14,331,033A1002,2012-11-08,1,SL,0,-6.106793,53.580036,309,33001,43051,3819,1969.281027,361,3,16:00
3,2012-11-08 16:33:52,331,033A1002,2012-11-08,1,SL,0,-6.090593,53.533672,623,33001,43051,3833,7472.199689,939,3,16:30
4,2012-11-08 16:34:33,331,033A1002,2012-11-08,1,SL,0,-6.091514,53.530941,648,33001,43051,3834,7783.316730,980,3,16:30

## Make CSV

In [122]:
df.to_csv('November_8_to_10.csv', index=False)